<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link href="css/styles.css" rel="stylesheet"/>
    <title>Quicksilver</title>
</head>
<body>
<h1>List of outgoing call tasks</h1>
<form th:action="@{/quicksilver/operator}" th:object="${deliveryOrderForm}" method="POST">
    <p>
        Find by order number: <input type="text" th:field="*{orderNumber}" autofocus="autofocus"/><input type="submit"
                                                                                                         value="Find"/>
    </p>
</form>
<div>
    <table border="1">
        <tr>
            <th>Order number</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Phone number</th>
            <th>Create at</th>
        </tr>
        <tr th:each="outgoingCallTask : ${outgoingCallTasks}">
            <td th:utext="${outgoingCallTask.orderNumber}">...</td>
            <td th:utext="${outgoingCallTask.firstName}">...</td>
            <td th:utext="${outgoingCallTask.lastName}">...</td>
            <td th:utext="${outgoingCallTask.phoneNumber}">...</td>
            <td th:utext="${outgoingCallTask.createAt}">...</td>
        </tr>
    </table>
</div>
</body>
</html>